<!-- Footer Start -->

<footer>

    {% include social-buttons.html %}

    <p><br><br></p>

    <div class="container text-center">
        <p style="text-align: left; font-size: 16px;">Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }}. Theme by <a href="https://github.com/PanosSakkos">Panos Sakkos.</a> Powered by <a href="https://github.com">Github.</a></p>
        {% if site.keybase-in-footer %}
        <p style="font-size: 16px;"><a href="https://keybase.io/{{site.keybase-username}}" target="_blank"><i
                class="fa fa-key"></i> {{site.keybase-username}} on Keybase</a></p>
        {% endif %}
    </div>
</footer>

<p></p>

<!-- Footer End -->
